<h2>目標設定</h2>

<%= form_with model: @target, url: hoge, local: true do |f| %>
  <div class="field">
    いくら貯めますか?
    <%= f.text_area :max_hp, placeholder: "1000000" %>円
  </div>

  <div class="field">
    いつまでに貯めますか?
    <%= f.text_area :max_mp, placeholder: "100" %>日
  </div>

  <div class="actions">
    <%= f.submit "1日に使える金額を決めよう" %>
  </div>
<% end %>

<%= link_to "ユーザー登録ページに戻る", new_registration_path(resource_name) %><br />
